<div class="work-container">
<div class="work-categories">
	<%
	c = 1
	@categories.each do | category |
	%>
		<a href="#" category="<%=category.name.downcase%>"><%=category.name%></a> &nbsp;
	<%
		if c < @category_count
	%>
		| &nbsp;
	<%
		end
		c += 1
	end
	%>
	<!--<a href="#" class="current">web</a> &nbsp;| &nbsp;<a href="#">android</a> &nbsp;| &nbsp;<a href="#">design</a> &nbsp;| &nbsp;<a href="#">misc</a>-->
</div>
<div class="works">
<%
@works.each do | work |
	images = work.images
	if images.count > 0
%>
<% if work.url %>
	<a href="<%= work.url %>" target="_blank">
<% end %>
<div class="work-item <%=work.categories.collect {|c| c.name.downcase }.join(" ")%>">
	<div class="work-content">
		<% images.each do | image | %>
			<%= image_tag image.photo.url(:normal), :title => (work.name+": "+image.name) %>
		<% end %>
	</div>
</div>
<% if work.url %>
	</a>
<% end %>
<%
	end
end
%>
</div>
<br style="clear:both;">
<!--	<img src="/images/logo-medium.png" alt="Logo" />-->
</div>