<div class="clearfix">
<%= form_for([:admin, @work]) do |f| %>
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field fieldleft">
    <%= f.label :name %>
    <%= f.text_field :name %>
		<br>
		<%= f.label :url %>
    <%= f.text_field :url %>
		<br>
		<br>
		<p>
				<label for="categories">Categories</label>
				<% @categories.each do |category| %>
					<%= check_box_tag(
		                            "category_list[#{category.id}]]", 
		                            "1", 
		                            @work.categories.detect{|d| d == category}) %>
					<%= "#{category.name}"%><br />
				<% end %>
			</p>
  </div>
	<div class="fieldright">  
		<div class="field">
    	<%= f.label :description %>
    	<%= f.text_area :description, :cols => 50, :rows => 10 %>
  	</div>
  	<div class="field">
			<strong>RedCloth Markup</strong>: 
			<p>Test: _this_ string +is+ *textile*</p>
			<p>Test: <em>this</em> string <ins>is</ins> <strong>textile</strong></p>
		</div>
		<div class="actions">
			<%= f.submit %>
		</div>
	</div>
<% end %>
</div>