<h1>Listing categories</h1>

<table class="crud">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= link_to admin_show_btn, admin_category_url(category) %></td>
    <td><%= link_to admin_edit_btn, edit_admin_category_path(category) %></td>
    <td><%= link_to admin_delete_btn, admin_category_url(category), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%=admin_add_btn%> <%= link_to 'New Category', new_admin_category_path %>
<br>
<br>
<%=link_to "Back to overview", admin_root_path %>
