<h1>Welcome</h1>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<p>This is the admin section, you can change the portfolio/work section of the website using these actions:</p>
<br>
<ul class="blinks">
	<li><%= link_to "Manage Categories", admin_categories_path %></li>
	<li><%= link_to "Manage Works and Images", admin_works_path %></li>
</ul>
<br>
<ul class="blinks">
	<li><%= link_to "Add Category", new_admin_category_path %></li>
	<li><%= link_to "Add Work", new_admin_work_path %></li>
</ul>
<br>
<%=link_to "Logout", destroy_user_session_path, :class=> "btn" %>